<!DOCTYPE html>
<html>
<head>
<title>SRM OOP Project</title>


<!-- <body>
The content of the document......
</body> -->

{% load static %}

<link rel ="stylesheet" type="text/css" href="{% static 'kevbot/style.css' %}" />

<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

</head>

<body> 

<!--Heading for the bot-->
<h1>My First Chatbot</h1>



<div> 
    <div id="chatbot">
        <p class = "botText"><span>Hi There<span></p>
    </div>

    <div id="userInput">
        <input type="text" id="textInput" name="userMessage" placeholder="Type you query...."/>
        <input type="submit" value="Send" id="buttonInput"/>
    </div>
</div>


<script>

    function getUserResponse(){

        var userText = $('#textInput').val();
        var userHTML = "<p class='userText'>User: <span>"+userText+"</span/></p>"
            $('#textInput').val("");
            
            $('#chatbot').append(userHTML);

            $.get('/kevbot/getResponse',{userMessage:userText}).done(function(data){
                <!--Change the Chatbot name here-->
                var returnedMessage = "<p class='botText'>Chatbot: <span>"+ data +"</span/></p>"
                    $('#chatbot').append(returnedMessage)


            })

}

$('#buttonInput').click(function(){
    getUserResponse();
    
})

</script>

</body>
</html>